<html>
<head>
    <title></title>
    <style>
        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
            color: #333;
        }

        h2 {
            color: #177e85;
        }

        span {
            font-size: 12px;
        }

        ul {
            list-style: none;
        }

        ul li {
            list-style: none;
        }

        .legal {
            font-size: 8px;
        }
    </style>
</head>
<body>
<h2>Ha recibido un email de contacto desde su web</h2>

<p><strong>Nombre: </strong>{{ data.nombre }}</p>

<p><strong>Apellidos: </strong>{{ data.apellidos }}</p>

<p><strong>eMail: </strong>{{ data.email }}</p>

<p><strong>Mensaje: </strong>{{ data.mensaje }}</p>
</body>
</html>