<div class="titulo">
    <h3>{{ 'contacto'|trans|upper }}</h3>
</div>
<div class="descripccion">
    <p>{{ 'contacto.info'|trans }}</p>
</div>

<div id="form_content">
    {% include 'form_contact.html.twig' with {'form' : form} %}
</div>

