<div class="titulo">
    <h3>Promesa de la Virgen de Fátima <br>
        Hecha en catequesis a niños pequeños
    </h3>
</div>

<div class="descripccion">
    <p>Este cuaderno está hecho con la intención de aumentar la devoción en los niños a nuestra
        Madre la Virgen María y que los niños vivan los sacramentos.El cuaderno consiste en hacer la
        promesa de la Virgen de Fátima poco a poco en catequesis. La promesa se hace en cinco
        sábados (cada uno es primer sábado de mes).Pues bien, el niño en catequesis va preparando su
        siguiente “primer sábado”.Dentro de los diferentes apartados del cuaderno, el niño va
        escogiendo:</p>
    <ul class="lista">
        <li>Meditación: La meditación del rosario que más le guste.</li>
        <li>Oración: Elige la intención que más le guste por la que se va a rezar el rosario el
            sábado de la promesa.
        </li>
        <li>Confesión: El niño va anotando sus faltas cometidas durante ese mes para ser recordadas
            el sábado de la promesa y hacer una buena confesión.
        </li>
        <li>Comunión: El niño elige entre las anotaciones que hay la que más le guste escribiéndola
            en su ficha y así recordar que le diría al Señor el día de la comunión del primer
            sábado.
        </li>
        <li>Consolación a la Virgen: El niño elige qué podría ofrecerle.Dicho cuaderno contiene
            dibujos para colorear con la intención de que el niño haga la promesa además de
            pasárselo bien. Rogándole su difusión espero que le sirva y que sus niños lo disfruten.
        </li>
    </ul>
</div>

<div class="descarga">
    <a class="btn"
       href="{{ path('file', {'file': 'Promesa de la Virgen de Fatima hecha en catequesis.pdf'}) }}"
       target="_blank" onClick="ga('send','event','boton','Descarga','Cuaderno');">
        Descarga cuaderno
    </a>
</div>

{#
<div class="descarga">
    <a class="btn"
       href="descargas/Promesa%20de%20la%20Virgen%20de%20Fa%CC%81tima%20hecha%20en%20catequesis.pdf"
       target="_blank" onClick="ga('send','event','boton','Descarga','Cuaderno');">
        Descarga cuaderno
    </a>
</div>
#}